.taskinactive {
	display: none;
}

input {
	border: none;
	font-family: Google-sans;
	width:300px;
	color: grey;
	padding: 0;
	margin: 0;
}

textarea:focus, input:focus{
    outline: none;
    /*border-bottom: 1px black solid;*/
}

@font-face {
	font-family: Google-sans;
	src: url(fonts/GoogleSans-Regular-v1.27.ttf);
}

body {
	font-family: Google-sans;
	font-size: 13px;
	color: grey;
}

.btn {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  font-size: 13px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 0px !important;
}

p {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.tasklist {
	position: absolute;
	bottom: 20px;
}

.notasks {
	color: blue;
}