.taskinactive {
	display: none;
}

input {
	border: none;
	font-family: Google-sans;
	width:300px;
	color: #999999;
	padding: 0;
	margin: 0;
}

textarea:focus, input:focus{
    outline: none;
    /*border-bottom: 1px black solid;*/
}

@font-face {
	font-family: Google-sans;
	src: url(fonts/GoogleSans-Regular-v1.27.ttf);
}

body {
	font-family: Google-sans;
	font-size: 13px;
	color: #999999;
}

.btn {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  font-size: 13px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 0px !important;
}

p {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.tasklist {
	position: absolute;
	bottom: 20px;
}

.notasks {
	color: blue;
}

.hover {
	visibility: visible;
}

.quoteText{
	position: absolute;
	margin: 21%;
}
p.mainquote{
	font-size: 1.7em;
	font-weight: 300;
	font-family: google-sans;
	color: #484848;
	line-height: 1.5;
	letter-spacing: .4;

}

li {
	padding-top: 3%;
	padding-bottom: 3%;
}

.mainquote {
	border-left: 4px #F8DEDC solid;
	padding-left: 10px;

}